*{
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', serif;
}
body{
    background-color: #1f1e1e;
}
.navbar-brand, .nav-link{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: #fff;
}
#mainNavbar .nav-link:hover{
    color: #b0342e;
}
.navbar-dark .navbar-brand{
    color: #b0342e;
}
#primary-heading span{
    color: #b0342e;
    padding: 0 3px;
}
#primary-heading h1{
    font-size: 4rem;
}

#secondary-heading h2{
    color:#b0342e;
    font-size: 2.5rem;
}
.bi-cup-straw, .fa-cookie, .fa-birthday-cake{
    font-size: 2rem;
    color: #d6cec7;
}
.lead{
    font-size: 1.125rem;
    line-height: 1.6;
}
.home-img{
    padding: 0;
}
@media (max-width:1200px) {

    #primary-heading h1{
        font-size: 3rem;
    }
    #secondary-heading h2{
        color:#b0342e;
        font-size: 2rem;
    }
    .bi-cup-straw, .fa-cookie, .fa-birthday-cake{
        font-size: 1rem;
    }
    .lead{
        font-size: 1rem;
    }
}
.navbar.scrolled{
    background-color: rgba(186, 168, 155, .2);
    transition: background-color .5s;
}